* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

#wrapper {
    width: 50%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
#background{
    width: 100%;
    height: 50%;
    position: fixed;
    bottom: 0;
    background-color: rgba(50,50,50, .7);
}

header {
    margin-top: 5px;
    text-align: center;

    position: relative;
}


nav {
    position: relative;
    width: 100%;
}


ul {
    width: 100px;
    margin: 0 auto;
}


li {
    width: 48%;
    display: inline-block;
    background-color: rgb(150,150,150);
    cursor: pointer;
    float: left;
    text-align: center;
    border: 1px solid black;
    margin: 1%;
    line-height: 1.5;
}

li:hover {
  background-color: black;
    border-color: rgb(150,150,150);
    color: white;
}

#modalbox {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .4);
    position: fixed;
    display: none;
    z-index: 1;
}



#modalcontent {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    top: 250px;
    left: 50%;
    position: fixed;
    min-width: 50%;
    margin-left: -25%;
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

textarea {
    width: 100%;
    padding: 5px;
}

textarea:focus {
    outline: none;
}

input[type=submit] {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
}

input[type=submit]:hover {
    border: 1px solid #FD3411;
}

#close {
    text-align: right;
    font-size: 20px;
    float: right;
    cursor: pointer;
}

#close:hover {
    color: red;
}

table {
    position: relative;
    margin-top: 200px;
    width: 100%;
    

}

tr {
    width: 100%;
    
}

caption {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    padding-bottom: 20px;
    font-size: 10px;
}

td {
    font-size: 10px;
    text-align: right;
    background-color: rgb(230, 230, 230);
    padding: 5px;
    cursor: pointer;
    width: 14.28%;
    height: 50px;
    vertical-align: top;
    
}

.days:hover {
    background-color: rgb(220, 220, 220);
}


.hide {
    display: none;
}


.event {
    background-color: #800080;
}

.event:hover {
    background-color: #800080;
    color: white;
}

.today {
    background-color: #FFFF00
}

.today:hover {
    background-color: yellow;
}

.dummy {
    cursor: default;
    filter: blur(1px);
    background-color: rgb(200, 200, 200);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}