#klok {
    width: 500px;
    height: 500px;
    position: fixed;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -250px;
    border: 1px dashed black;
    border-radius: 50%;
}

.wijzer {
    position: absolute;
    transform-origin: bottom;
    left: 50%;
    top: 50%;
    background-color: black;
}

#urenWijzer {
    height: 125px;
    width: 3px;
    margin-left: -1.5px;
    margin-top: -125px;
}

#minutenWijzer {
    height: 250px;
    width: 2px;
    margin-top: -250px;
}

#secondenWijzer {
    width: 1px;
    height: 250px;
    margin-top: -250px;
}